.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    
  }
  
  .editor-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: left;
    
  }
  ReactQuill{
    font-size: 32pt;
  }
  .ql-size-small {
    font-size: 12px;
  }
  
  .ql-size-large {
    font-size: 20px;
  }
  
  .ql-size-huge {
    font-size: 32px;
  }
  
  .button_editor {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .button.button_editor {
    background-color: #45a049;
  }